<a href="https://colab.research.google.com/github/YangJeongA/class2022Spring/blob/main/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#string

#index - string과 list
string과 index는 유사성이 많은데 특히 index에서 같음

In [ ]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6])
print(s[1:3], s[1:], s[:3], s[:])

a f f a
bc bcdef abc abcdef

In [ ]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

#함수, 메소드

python에서 함수를 사용할 때의 형식-> 함수(입력)

e.g, print()

In [ ]:
len(s)

6

len이라는 함수는 변수가 가진 값의 길이를 알려줌

In [ ]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

string에서도 +연산자 사용 가능

In [ ]:
s.upper()

'ABCDEF'

upper는 값을 모두 대문자로 바꿔줌

In [ ]:
s = ' this is a house built this year.\n'
s

' this is a house built this year.\n'

In [ ]:
s.find('house')

11

- index of first instance of string t inside s (-1 if not found).

- string에서 괄호 안의 값이 몇 번째에 위치해 있는지 출력

In [ ]:
s.find('this')

1

- 괄호 안의 값이 string 내에 여러개 있을 경우 가장 먼저 나오는 경우의 값이 출력됨

In [ ]:
s = s.strip()

- a copy of s without leading or trailing whitespace
- 양 끝의 whitespace를 지운 값이 출력됨

In [ ]:
tokens = s.split(' ')
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

- split s into a list wherever a t is found (whitespace by default)

In [ ]:
s = ' '.join(tokens)
s

'this is a house built this year.'

- combine the words of the text into a string using s as the glue

  -> s.join(t)

In [ ]:
s = s.replace('this', 'that')
s

'that is a house built that year.'

- replace instances of t with u inside s
  -> s.replace('t', 'u')